<div class="league-team-list">
<div class="league-team-list-title">
Standings:
</div>
<% if @teams %>
<% @teams.each do |team| %>
<a href="/leagues/<%= team.league_id %>/teams/<%= team.id %>" class="league-team-list-row">
<div class="league-team-list-row-standing">
<%= team.standing %>
</div>
<div class="league-team-list-row-name">
<%= team.name %>
</div>
<div class="league-team-list-row-record">
<%= "(#{team.wins} - #{team.losses} - #{team.ties})" %>
</div>
</a>
<% end %>
<% end %>
<% if @teams.count < @league.member_amount.to_i %>
<div class="warning">
Your league is not full yet and cannot draft (<%= @teams.count %> out of <%= @league.member_amount %> teams registered). Invite members with your League ID:
<span style="color: green"><%= @league.id %></span>
</div>
<% end %>
</div>
