<div class="league-name">
<%= @league.name %>
</div>
<div class="league-navbar">
<%= link_to "League Home", league_path(@league), class: "league-navbar-element" %>
<a href="#" class="league-navbar-element">Free Agents</a>
<a href="#" class="league-navbar-element">League History</a>
<a href="#" class="league-navbar-element">Schedule</a>
<a href="#" class="league-navbar-element">League Settings</a>
<a href="#" class="league-navbar-element">Team Settings</a>
</div>
<div class="team-container">
<div class="team-name">
<%= @team.name %>
</div>


<div class="team-roster">
  <% @lineup.each do |position, player| %>
  <div class="team-roster-row">
  <div class="team-roster-position">
  <%= position.to_s %>
  </div>
  <div class="team-roster-player">
  <% if player.is_a?(String) %>
  <%= player %>
  <% else %>
  <div class="team-roster-player-name">
  <%= "#{player.first_name} #{player.last_name}" %>
  </div>
  <div class="team-roster-player-form">
  <%= form_for [@league, @team, @roster] do |f| %>
    <%= f.label :position %>
    <%= f.select(:position, %w[QB RB WR TE FLEX DEF BN]) %>
    <%= hidden_field_tag "team_id", @team.id %>
    <%= hidden_field_tag "player_id", player.id %>
    <%= f.submit "Save Lineup" %>
  <% end %>
  </div>
  <% end %>
  </div>
  <%= button_to "Drop Player", league_team_player_drop_path(@league, @team, player) %>
  </div>
  <% end %>
</div>

</div>
