<div class="league-name">
<%= @league.name %>
</div>
<div class="league-navbar">
<%= link_to "League Home", league_path(@league), class: "league-navbar-element" %>
<a href="#" class="league-navbar-element">Free Agents</a>
<a href="#" class="league-navbar-element">League History</a>
<a href="#" class="league-navbar-element">Schedule</a>
<a href="#" class="league-navbar-element">League Settings</a>
<a href="#" class="league-navbar-element">Team Settings</a>
</div>
<div class="team-container">
<div class="team-name">
<%= @team.name %>
</div>
<% @team.players.each do |player| %>
<%= "#{player.first_name} + #{player.last_name}" %>
  <%= form_for [@league, @team, @roster] do |f| %>
    <%= f.label :position %>
    <%= f.select(:position, %w[QB RB WR TE FLEX DEF BN]) %>
    <%= hidden_field_tag "team_id", @team.id %>
    <%= hidden_field_tag "player_id", player.id %>
    <%= f.submit "Save Lineup" %>
  <% end %>
<%= button_to "Drop Player", league_team_player_drop_path(@league, @team, player) %>
<% end %>

<div class="team-roster">
  <div class="team-roster-row">
    <div class="team-roster-row-position">
    Position
    </div>
    <div class="team-roster-row-name">
    Name
    </div>
  </div>
  <div class="team-roster-row">
    <div class="team-roster-row-position">
    QB
    </div>
    <div class="team-roster-row-name">
    Empty
    </div>
  </div>
  <div class="team-roster-row">
    <div class="team-roster-row-position">
    RB
    </div>
    <div class="team-roster-row-name">
    Empty
    </div>
  </div>
  <div class="team-roster-row">
    <div class="team-roster-row-position">
    RB
    </div>
    <div class="team-roster-row-name">
    Name
    </div>
  </div>
  <div class="team-roster-row">
    <div class="team-roster-row-position">
    WR
    </div>
    <div class="team-roster-row-name">
    Name
    </div>
  </div>
  <div class="team-roster-row">
    <div class="team-roster-row-position">
    WR
    </div>
    <div class="team-roster-row-name">
    Name
    </div>
  </div>
  <div class="team-roster-row">
    <div class="team-roster-row-position">
    TE
    </div>
    <div class="team-roster-row-name">
    Name
    </div>
  </div>
</div>
</div>
