<div class="login-form-container">
<div class="login-title">Create a New League</div>
<%= @errors %>
<%= form_for @league do |f| %>
  <div class="login-email-container">
<%= f.label :name, :class => "login-email"  %>
<%= f.text_field :name, :class => "login-email-field" %>
    </div>
    <div class="login-email-container">
<%= f.label :password, :class => "login-password" %>
<%= f.text_field :password, :class => "login-email-field" %>
</div>
<%= f.select(:member_amount, %w[8 10 12 14 16 18 20], {prompt: "Member Amount"}, :class => "form-dropdown") %>
<%= f.submit "Create League", :class => "login-submit" %>
<% end %>
