<!doctype html>
<html lang="en">
<head>
  <title>Fooball</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#sortable" ).sortable({
      revert: true
    });
    $( "#draggable" ).draggable({
      connectToSortable: "#sortable",
      helper: "clone",
      revert: "invalid"
    });
    $( "ul, li" ).disableSelection();
  });
  </script>
</head>

<body>
<div class="draft-header">
<%= "#{Time.now.year} #{@league.name} Draft" %>
</div>
<div class="draft-order-container">
<%= form_for @draft, method: :post, action: :create, url: league_drafts_path(@league) do |f| %>
  Set draft order:
  <ol id="sortable">
  <% i = 1 %>
  <% @league.teams.each do |team| %>
  <li class="sortable-list-element">
  <%= team.name %>
  <%= hidden_field_tag "team_id-#{i}", "#{team.id}" %>
  <% i += 1 %>
  </li>
  <% end %>
  </ol>
  <%= f.submit "Submit", :class => "login-submit" %>
<% end %>
</div>
</body>
