<!doctype html>
<html lang="en">
<head>
  <title>Fooball</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <style>
  h1 { padding: .2em; margin: 0; }
  #products { float:left; width: 500px; margin-right: 2em; }
  #cart { width: 200px; float: left; margin-top: 1em; }
  /* style the list to maximize the droppable hitarea */
  #cart ol { margin: 0; padding: 1em 0 1em 3em; }
  </style>
  <script>
  $(function() {
    $( "#catalog" ).accordion();
    $( ".player-name" ).draggable({
      appendTo: "body",
      helper: "clone"
    });
    $( "#nomination" ).droppable({
      activeClass: "#nomination",
      hoverClass: "#nomination",
      accept: ":not(.ui-sortable-helper)",
      drop: function( event, ui ) {
        $( this ).find( ".placeholder" ).remove();
        $( "<div></div>" ).text( ui.draggable.text() ).addClass("nominated-player").appendTo( this );
        $( this ).addClass( "bid" );
        $( this ).removeAttr('id');
        $( ".new_pick" ).css("display", "flex");
        var hiddenInput = $(".hidden-player-id", ui.draggable);
        $(".price-input").append(hiddenInput);
      }
    }).sortable({
      items: "li:not(.placeholder)",
      sort: function() {
        // gets added unintentionally by droppable interacting with sortable
        // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
        $( this ).removeClass( "ui-state-default" );
      }
    });
  });
  $(function() {
    $( "#draft-dropdown-teams-placeholder" ).hover(
      function() {
        $( this ).css("display", "none");
        $( ".new_pick-team" ).css("display", "block");
      }
    );
  });
  $(function() {
    $( ".new_pick-team" ).click(
      function() {
        var selectedTeam = $( "form option[value=" + $(this).val() + "]").text()
        $( ".new_pick-team" ).css("display", "none");
        $( "#draft-dropdown-teams-placeholder" ).css("display", "block").text(selectedTeam);
      })
  })
  $(function() {
    $( ".draft-header-teams" ).mouseenter(
      function() {
        var value = $(this).attr("value");
        $(".draft-header-teams-dropdown[value=" + value + "]").css("display", "flex");
      })
  })
  $(function() {
    $( ".draft-header-teams" ).mouseout(
      function() {
        var value = $(this).attr("value");
        $(".draft-header-teams-dropdown[value=" + value + "]").css("display", "none");
      })
  })
  </script>
</head>

<body>
  <div class="draft-header">
  <div class="draft-header-title">
    <%= "#{Time.now.year} #{@league.name} Draft" %>
  </div>

  <% i = 1 %>
  <% @teams.each do |team| %>
  <div class="draft-team-container">
  <div class="draft-header-teams" value="<%= team.id %>">
  <div class="draft-header-teams-position">
  <%= i %>
  </div>
  <div class="draft-header-teams-name">
  <%= team.name %>
  </div>
  </div>
  <% i += 1 %>

<div class="draft-header-teams-dropdown" value="<%= team.id %>">
  <% team.project_lineup.each do |position, player| %>
    <div class="draft-header-teams-row">
      <div class="draft-header-teams-position">
      <%= position.to_s %>
      </div>
      <div class="draft-header-teams-player-name">
      <% if player.is_a?(String) %>
      <%= player %>
      <% else %>
      <%= "#{player.first_name} #{player.last_name}" %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>

  <% end %>
  </div>

  <div class="draft-container">
    <div class="player-list">
      <div class="player-row-header">
        <div class="player-position-header">
        Pos:
        </div>
        <div class="player-name-header">
        Player Name
        </div>
        <div class="player-age-header">
        Age
        </div>
      </div>
      <div class="player-list-content">
        <% @players.each do |player| %>
          <% if !player.position.nil? %>
            <div class="player-row">
              <div class="player-position">
                <%= player.position %>
              </div>
              <div class="player-name">
                <%= "#{player.first_name} #{player.last_name}"%>
                <input type="hidden" class="hidden-player-id" name="player_id" value="<%= player.id %>">
              </div>
              <div class="player-age">
                <%= player.age %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="nomination">
      N O M I N A T E
    </div>
    <%= form_for [@league, @draft, @pick] do |f| %>
    <%= f.label :price, "Price: $", :class => "price-label" %>
    <%= f.text_field :price, :class => "price-input" %>
    <%= hidden_field_tag "round_id", "#{@round.id}" %>
    <%= f.label :team_id, "Drafted By:" %>
    <div class="draft-dropdown-teams">
    <div id="draft-dropdown-teams-placeholder">
    Pick a Team
    </div>
    <%= f.select :team_id, @teams.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => "new_pick-team" %>
    </div>
    <%= hidden_field_tag "pick[number]", "#{@pick.number}" %>
    <% i = 0 %>
    <% @teams.each do |team| %>
      <%= hidden_field_tag "team_order[#{i}]", "#{team.id}" %>
      <% i += 1 %>
    <% end %>
    <input type="hidden" class="hidden-player-id" name="player_id">
    <%= f.submit "Sold", :class => "price-submit" %>
    <% end %>

    <div id="draft-queue">
    <div id="draft-queue-title">
    Queue Nominations:
    </div>
    <ol id="draft-queue-drop">
      <li class="placeholder">
        (Drag and drop here)
      </li>
    </ol>
    </div>
  </div>
</body>
