<!DOCTYPE html>
<html>
<head>
  <title>Fooball</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="sidenav">
<img src="/football.png" class="sidenav-logo">
<a href="/" id="sidenav-title">Fooball</a>
<% if current_user %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :get, :class => "sidenav-sign-out" %>
<%= link_to "Create a League", new_league_path, :class => "sidenav-sign-out" %>
<%= link_to 'My Teams and Leagues', root_path, :class => "sidenav-sign-out" %>
<% else %>
<%= link_to 'Sign Up', new_user_registration_path, :class => "sidenav-sign-up" %>
  <%= link_to 'Sign In', new_user_session_path, :class => "sidenav-sign-in" %>
<% end %>
</div>
<div class="content-container">
  <%- flash.each do |key, value| -%>
    <div class="flash">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>
  <%= yield :extra_footer %>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).application();
    });
  <% end %>
</body>
</html>
